<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title &nbsp;</th>
    <th>Body &nbsp;</th>
    <th>Status &nbsp;</th>
    <th>Author &nbsp;</th>
  </tr>
<% if Article != nil then %>
<% @articles.each do |article| %>
  <tr>
    <td><%=h article.title %>&nbsp;</td>
    <td><%=h truncate(article.body) %>&nbsp;</td>
    <td><%=h article.status %>&nbsp;</td>
    <td><%=h article.author.full_name%>&nbsp;</td>
    <td><%= link_to 'Show', article %>&nbsp;</td>
    <td><%= link_to 'Edit', edit_article_path(article) %>&nbsp;</td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>&nbsp;</td>
  </tr>
<% end %>
<% end %>
</table>

<br />
<div class ="side">
<%= link_to 'New article', new_article_path %>
</div>