<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title &nbsp;</th>
    <th>Body &nbsp;</th>
    <th>Status &nbsp;</th>
    <th>Date posted &nbsp;</th>
    <th>Author &nbsp;</th>
  </tr>
<% if Article != nil then %>
<% @articles.each do |article| %>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.body %></td>
    <td><%=h article.status %></td>
    <td><%=h article.date_posted %></td>
    <td><%=h article.author_id %></td>
     <td class ="side"><%= link_to 'Show', article %></td>
     <td class ="side"><%= link_to 'Edit', edit_article_path(article) %></td>
     <td class ="side"><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />
<div class ="side">
<%= link_to 'New article', new_article_path %>
</div>