<html>
<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Status:</b>
  <%=h @article.status %>
</p>

<p>
  <b>Date posted:</b>
  <%=h @article.date_posted %>
</p>

<p>
  <b>Author:</b>
  <%=h @article.author_id %>
</p>
</html>
